# Ignore Terraform files
*.tfstate
*.tfstate.*
*.tfvars
*.tfplan

# Ignore crash logs
crash.log

# Ignore .terraform directory
.terraform/

# Ignore Terraform workspace files
.terraform.lock.hcl

# Ignore Terraform plan files
*.tfplan

# Ignore any additional environment-specific files
.terraform-environment/
